[Unit]
Description=System Shutdown Button
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u shutdown_button.py
WorkingDirectory=/home/pi/Projects/Check-Your-Tone/py
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
